body {
    background-color: rgb(46, 46, 46);
    color: whitesmoke;
    font-family: 'Courier New', Courier, monospace;
}

.header {
    background-color: red;
    color: whitesmoke;
}

.header h2 {
    font-size: 30px;
}

.nav a {
    color: whitesmoke;
}

.hero {

}

.products {

}

.shop {

}

.footer {
    
}